<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fileListPage</title>
</head>
<body>
    <button id="buttonFile">选择文件层级</button>
    <input id="bigFileBut" type="file">
</body>
<!--文件树获取-->
<script>
    const but = document.getElementById('buttonFile');
    // 点击选择触发同步的选择方法
    but.onclick = async function() {
        try {
            // 得到文件夹的内容,并获取句柄。
            const handle = await showDirectoryPicker();
            console.log(handle)
            // 文件句柄树形结构处理
            const root = await processHandel(handle);
            console.log(root)
            // 文件结构渲染
            await renderFile(root);
        } catch (e) {
            // 用户拒绝访问文件
            alert('系统需要访问本地文件才能加载！')
        }
    }
    // 异步方法，该方法获取句柄下文件内容（作为一个关键字放在函数的前面，表示该函数是一个异步函数，
    // 意味着该函数的执行不会阻塞后面代码的执行 异步函数的调用跟普通函数一样）
    /**
     * 获取句柄下文件内容：异步方法，该方法获取句柄下文件内容（async作为一个关键字放在函数的前面，表示该函数是一个异步函数，
     * 意味着该函数的执行不会阻塞后面代码的执行 异步函数的调用跟普通函数一样）
     *
     * @param handle
     * @returns {Promise<void>}
     */
    async function processHandel(handle) {
        // 判断该句柄是不是一个文件,是文件就直接返回。
        if(handle.kind === 'file') {
            return handle;
        }
        // 得到该句柄的异步迭代器
        const entriesIter = handle.entries();
        // 等待异步函数获取到句柄并编辑文件句柄的迭代器；（await即等待，用于等待一个Promise对象。它只能在异步函数 async function中使用，否则会报错）
        handle.children = [];
        for await (const item of entriesIter) {
            // 递归处理句柄
            handle.children.push(await processHandel(item[1]))
        }
        return handle;
    }

    async function renderFile(root) {
        // 得到文件
        const Handle = root.children[1];
        const file = await Handle.getFile();

        // 文件流读取文件
        const fileReader = new FileReader();
        fileReader.onload = e => {
            // 读取文件
            console.log(e.target.result)
        }
        fileReader.readAsText(file);

    }
</script>
<!--大文件切片上传-->
<script src="https://cdn.bootcdn.net/ajax/libs/spark-md5/3.0.2/spark-md5.js"></script>
<!--<script src="./tool/sparkMd5/spark-md5.js"></script>-->
<script>
    /**
     * 可以使用web worker开启线程，防止浏览器卡死
     * @type {HTMLElement}
     */
    const inp = document.getElementById('bigFileBut');
    inp.onchange = async (e) => {
        const file = inp.file[0];
        if (!file) {
            return;
        }
        // 切片文件
        const chunks = careateChunks(file, 10*1024*1024);
        const promise = await fileHash(chunks);
    }
    function careateChunks(file, chunkSize) {
        const result = [];
        for (let i = 0; i < file.size; i+=chunkSize) {
            result.push(file.slice(i, i + chunkSize))
        }
        return result;
    }
    function fileHash(chunks) {
        // 封装成异步函数
        return new Promise(resolve => {
            const spark = new SparkMD5();
            function _read(i) {
                if (i>=chunks.length) {
                    console.log(spark.end()); // 输出整个文件hash计算
                    return; //读取完成
                }
                const blob = chunks[i];
                const reader = new FileReader();
                reader.onload = e => {
                    const bytes = e.target.result; //读取到字节数组
                    spark.append(bytes)
                    _read(i+1)
                }
                reader.readAsArrayBuffer(blob);
            }
            _read(0);
        });
    }
</script>
</html>