<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pageoffice</title>
    <div id="slideTest1"></div>
    <div>
        <form class="layui-form" method="post" action="http://localhost:8763/excel" enctype="multipart/form-data">
            <div class="layui-form-item">
                <input id="file"  type="file" name="myFile"><br>
                <button type="submit" class="layui-btn" lay-filter="formDemo">
                    <i class="layui-icon layui-icon-export"></i>获取转换excel文件
                </button>
            </div>
        </form>
    </div>
    <div>
        <form class="layui-form" method="post" action="http://localhost:8763/getWorkDate" enctype="multipart/form-data">
            <div class="layui-form-item">
                输入<input id="input"  type="file" name="input"><br>
                输出<input id="output"  type="file" name="output"><br>
                <button type="submit" class="layui-btn" lay-filter="formDemo">
                    <i class="layui-icon layui-icon-export"></i>获取转换excel文件
                </button>
            </div>
        </form>
    </div>
</head>
<body>
    <div>

    </div>
</body>
</html>